.tab {
    background-color: #f1dbaf;
    margin-bottom: 20px;
    padding: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    /*border: 2px solid #a4dcdc;*/
    /*padding: 2px 2px;*/
}