.nav {
    grid-area: n;
    background-color: #f1dbaf;
    padding: 20px;
}

.item a {
    color: #5559ec;
    text-decoration: none;
    font-size: 25px;
}

.item a.activeLink {
    color: #191a94;
}
